.one {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.one h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.two {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-img {
  width: 100%;
}

.info p {
  font-size: 14px;
  text-align: left;
  margin-top: -8px;
}
.label-container {
  width: 100%;
  padding: 30% 0;
  border: 1.41803px dashed rgba(252, 248, 255, 0.45);
border-radius: 9.21721px;
margin-left: 55px;
}
.info{
  margin-left: 55px;
}
.event-template {
  width: 100%;
  margin-bottom: 20px;
}
.event-template img {
  width: 100%;
  border-radius: 20px;
}
.card-text {
  position: relative;
  top: 80%;
  width: 100%;
  text-align: center;
  z-index: 0;
  margin-bottom: -10%;
}
.card-text .left-text {
  width: 45%;
  text-align: left;
  font-size: 1.7rem;
  display: inline-block;
  margin-left: 1rem;
}
.card-text .right-text {
  width: 45%;
  text-align: right;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 1rem;
}
#img-btn {
  width: 50%;
  text-align: center;
}
#img-btn img {
  width: 7vw;
}
.details {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.schedule {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
#form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-right: 64px;
}
#form-div label {
  margin: 1rem 0;
  font-size: 1.5rem;
}
#form-div input,
#form-div textarea,
#form-div select {
  padding: 1rem;
  width: 50%;
  border-radius: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.42);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  outline: none;
  background-color: rgba(58, 47, 73, 0.72);
}
#form-div textarea {
  resize: none;
  width: 672px;
}
.responsive {
  width: 100%;
}
.radio-btn input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label > img {
  filter: brightness(120%);
}
.radio-btn {
  border-radius: 20px;
}
.radio-btn label {
  display: flex;
  justify-content: center;
}
.radio-btn label img {
  width: 70%;
  border-radius: 20px;
  filter: brightness(100%);
}
.radio-btn label img:hover {
  filter: brightness(120%);
}
.visibility {
  display: flex;
  align-items: center;
}
.visibility label {
  font-size: 1.5rem;
}
.visibility input[type="radio"]:after {
  border: 1px solid white;
}
.invitees p {
  font-size: 1.5rem;
}
.invitees input {
  padding: 1rem;
  width: 80%;
  border-radius: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.42);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  outline: none;
  background-color: rgba(58, 47, 73, 0.72);
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.entry-price {
  display: none;
}

.buttons {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}
.buttons button {
  margin: 1rem;
  padding: 1rem 3rem;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
#cancel {
  background: transparent;
  border: 2px solid rgba(133, 133, 133, 57%);
}
#submit {
  background: linear-gradient(to left, #b21eca, #605bd0);
}

@media only screen and (max-width: 730px) {
  .schedule {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 665px) {
  .two {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .left {
    width: 80%;
  }
  .schedule {
    grid-template-columns: repeat(2, 1fr);
  }
  .right {
    width: 80%;
    margin-left: -5rem;
  }
}

@media only screen and (max-width: 365px) {
  .schedule {
    grid-template-columns: repeat(1, 1fr);
  }
}
