.one {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-form {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.label-tag {
  width: 100%;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.input-tag {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-tag input {
  padding: 7px;
  width: 100%;
  border-radius: 7px;
  background-color: #2d233b;
  border: none;
  outline: none;
  color: #9a92a7;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.event-form select {
  padding: 7px;
  width: 100%;
  border-radius: 7px;
  background-color: #2d233b;
  border: none;
  outline: none;
  color: #9a92a7;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
.input-tag input[type="time"]::-webkit-calendar-picker-indicator {
  /* color: #2d233b; */
  /* opacity: 1;
  display: block;
  background: url(/images/clock-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  border-width: thin;
  margin: 2px; */
  display: none;
}
.input-tag input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(/images/calendar.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  border-width: thin;
  margin: 2px;
}
.search-category {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
  margin: 50px 0;
}
.search-div {
  width: 64%;
  display: flex;
  justify-content: center;
}

.search-div input {
  width: 472px;
  height: 50px;
  background-color: #141426;
  /* background-color: #ffffff; */
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 0px 10px;
  color: white;
  border: none;
  outline: none;
}
.search-divinput:active {
  border: none;
  outline: none;
}
.search-icon {
  background-color: #141426;
  width: 3rem;
  border-radius: 0 20px 20px 0;
  font-size: 1.5rem;
  padding: 1.4rem;
}
.search-icon i {
  color: #666666;
}
#filter-dropbtn {
  background: transparent;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-left: 20px;
}

.filter-dropdown-content {
  display: none;
  position: absolute;
  background-color: #171721;
  width: 12rem;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.show {
  display: block;
}

.filter-dropdown-content button {
  color: white;
  background: transparent;
  padding: 0 16px;
  margin: 1rem 0;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  border: none;
}
.underline-btn {
  width: 63%;
  border: 1px solid #9e9ba2;
  margin-left: 20px;
}
.category-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}
.category-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.radio-btn input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label > img {
  filter: brightness(100%);
}
.radio-btn {
  border-radius: 20px;
}

.radio-btn label {
  height: 1px;
}
.radio-btn label img {
  width: 90%;
  border-radius: 20px;
  filter: brightness(90%);
}
.radio-btn label img:hover {
  filter: brightness(100%);
}
.card-text {
  position: relative;
  top: 70%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-left: 2rem;
  margin-bottom: -10%;
}
.card-text .left {
  width: 30%;
  text-align: left;
  font-size: 1.7rem;
  display: inline-block;
}
.card-text .right {
  width: 30%;
  text-align: right;
  font-size: 1.7rem;
  display: inline-block;
}

#cards-2 {
  display: none;
}
#toggle-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
#more-btn {
  width: 7%;
  text-align: center;
  background: transparent;
  border: none;
}
#less-btn {
  display: none;
  width: 7%;
  text-align: center;
  background: transparent;
  border: none;
}

@media only screen and (max-width: 960px) {
  .card-text {
    top: 60%;
  }
  .card-text .left,
  .card-text .right {
    font-size: 1.5rem;
    width: 35%;
  }
}
@media only screen and (max-width: 800px) {
  .search-category {
    width: 80%;
  }
  .search-div {
    width: 60%;
  }
}
@media only screen and (max-width: 740px) {
  .category-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 666px) {
  .event-form {
    width: 100%;
    justify-content: space-between;
  }
  .label-tag {
    font-size: 1.3rem;
  }
  .input-tag input {
    font-size: 1.3rem;
  }
  #filter-dropbtn {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 500px) {
  .category-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .event-form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .label-tag {
    width: 75%;
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  .input-tag {
    width: 80%;
    font-size: 1.3rem;
  }
  select {
    width: 100%;
  }
  .card-text .left,
  .card-text .right {
    font-size: 1.6rem;
    width: 35%;
  }
}
