@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body {
  font-family: "Poppins", "sans-serif";
}

.one {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main {
  display: flex;
  width: 90%;
  background: url(../images/ticket-main.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.main-heading h1 {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
}
.main-heading h3 {
  text-align: center;
  font-weight: normal;
  margin-top: 0;
  font-size: 1.5rem;
}
.ticket {
  display: flex;
  width: 80%;
  align-items: center;
  background: url(../images/ticket-back.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 4rem 0 5rem 5rem;
}
.ticket img {
  width: 30%;
}
.text-ticket {
  width: 20%;
  height: 100%;
  margin: 0 3rem;
}
.text-ticket h1 {
  margin-top: 0;
}
.text-ticket p {
  font-size: 1.3rem;
}
.dashed-line {
  width: 1px;
  background: transparent;
  border-left: 5px dashed #686262;
  height: 100%;
}
.details {
  width: 30%;
  margin: 0 3rem;
  font-size: 1.5rem;
  margin-bottom: 85px;
}
.details table {
  border-spacing: 10px;
}
.details table th,
.details table td {
  text-align: left;
}
.buttons {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 6rem 0;
}
.buttons button {
  width: 5rem;
  height: 5rem;
  background: linear-gradient(to right, #b21eca, #605bd0);
  color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0 1rem;
  border-radius: 100rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}
