@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body {
  font-family: "Poppins", "sans-serif";
}

.one {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main {
  display: flex;
  width: 90%;
  background: url(../images/ticket-main.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.main-heading h1 {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
.main-heading h3 {
  text-align: center;
  font-weight: normal;
  margin-top: 0;
  font-size: 1.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.ticket {
  display: flex;
  width: 1000px;
  height: 400px;
  align-items: center;
  background: url(../images/ticket-back.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 4rem 0 5rem 5rem;
}
.ticket img {
  width: 398.6px;
  height: 334.21px;
}
.text-ticket {
  width: 253px;
  height: 100%;
  margin: 0 2rem;
  font-size: 16px;
  font-weight: 600;
}
.text-ticket-head {
  width: 253px;
  height: 48px;
}
.text-ticket-head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 34px;
}
.text-ticket p {
  width: 239px;
  height: 190px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.dashed-line {
  width: 1px;
  background: transparent;
  border-left: 5px dashed #686262;
  height: 100%;
}
.details {
  width: 30%;
  margin: 0 3rem;
  font-size: 1.5rem;
  margin-bottom: 85px;
}
.details table {
  border-spacing: 10px;
}
.details table th,
.details table td {
  text-align: left;
}
.buttons {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: 5rem 0 6rem 0;
}
.buttons button {
  width: 5rem;
  height: 5rem;
  background: linear-gradient(to right, #b21eca, #605bd0);
  color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0 1rem;
  border-radius: 100rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}
