@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap");

body {
  overflow-x: hidden;
  background-color: #0c0517;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
button {
  cursor: pointer;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
section {
  margin-bottom: 80px;
}
.footer {
  margin-bottom: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e2e8f0;
}

li:hover .underline hr {
  width: 100%;
  background-image: linear-gradient( to left, #009ea8 20%, #1687d9 70% );
}

/* .navbar {
  background-color: #0c0517;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger,
.box {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  margin-top: 20px;
  z-index: 5;
}

.nav-item {
  margin: 0 1rem;
  width: 20%;
  text-align: center;
}
.nav-item hr {
  display: none;
}
#menu {
  display: none;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
}
.underline hr {
  display: block;
  border: none;
  height: 1.5px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto 0 auto;
  border-radius: 10px;
}
li.active .underline hr {
  width: 100%;
  background-image: linear-gradient(to left, #009ea8 20%, #1687d9 70%);
}
.underline .shadow {
  opacity: 0;
  height: 15px;
  background: linear-gradient(
    to bottom,
    rgba(189, 116, 223, 0.06),
    rgba(7, 149, 169, 1)
  );
  width: 0%;
}
li.active .underline .shadow {
  opacity: 0.5;
  width: 100%;
  transition: width 0.2s, opacity 0.5s;
}
li.active .nav-link {
  background: -webkit-linear-gradient(#eee, #00c8df);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-logo {
  font-size: 1.8rem;
  font-weight: 550;
  color: #482ff7;
  margin-left: 2%;
}
.nav-logo2 {
  display: none;
}

.dropbtn {
  display: flex;
  align-items: center;
  background-color: #171721;
  color: white;
  width: 100%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #171721;
}

.dropdown {
  display: flex;
  background-color: #171721;
  border-radius: 7px;
}

img {
  margin: 5px 0px;
  border-radius: 7px;
}
.profile-name {
  font-size: 1.5rem;
  margin: 0 2rem 0 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #171721;
  top: 85px;
  right: 30px;
  min-width: 160px;
  border-radius: 7px;
  border-top: none;
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.858);
  z-index: 1;
} */

/* Links inside the dropdown */
/* .dropdown-content a {
  color: white;
  padding: 12px 16px;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  display: block;
} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/* .show {
  display: block;
} */

.one {
  display: flex;
  height: 100%;
}
.container {
  width: 100%;
}
/* .slider-for {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider-for div {
  width: 100%;
}
.slider-for img {
  width: 100%;
}

.slider-nav img {
  width: 150px;
  height: 300px;
} */

/* * {
  position: relative;
  box-sizing: border-box;
  outline: none;
}
.my-container {
  width: 400px;
  max-width: 400px;
  overflow: hidden;
  margin: 50px auto;
}

.arrow {
  position: absolute;
  bottom: 10px;
  background: white;
  padding: 5px;
  cursor: pointer;
}
.feat-prev {
  left: 10px;
}
.feat-next {
  right: 10px;
}
.slider-container {
  background: black;
  height: 200px;
}
.slider-container .slider {
  height: 100%;
  padding: 10px;
}
.slider-nav-container {
  background-color: black;
}
.slider-nav-container .slide-link {
  text-align: center;
  cursor: pointer;
}
.nav-num,
.nav-title {
  display: block;
}
.slick-current .nav-num,
.slick-current .nav-title {
  color: purple;
}
.slick-prev {
  position: absolute;
  z-index: 99;
  top: 120px;
  left: -50px;
}
.slick-next {
  position: absolute;
  z-index: 99;
  top: 120px;
  right: -50px;
} */
.slick-prev {
  position: absolute;
  z-index: 99;
  top: 120px;
  left: -50px;
}
.slick-next {
  position: absolute;
  z-index: 99;
  top: 120px;
  right: -50px;
}
#civil-img {
  width: 100%;
  height: 50rem;
}

.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.roadmap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.roadmap-2 {
  display: none;
}
.cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55rem;
}
.circle-out {
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16rem;
  background-color: transparent;
  border: 4px dashed #8d189d;
  padding: 10px;
}
.circle-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.5rem;
  height: 15.5rem;
  border-radius: 8rem;
  background-image: linear-gradient(to bottom right, #8d189d 30%, #822642);
}
.circle-in {
  width: 12rem;
  height: 12rem;
  border-radius: 8rem;
  background-color: white;
  box-shadow: 0 5px 5px #3e0342;
}
.roadmap-year {
  color: #351d8d;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 10px 0;
}

.vertical-line {
  width: 1rem;
  height: 10rem;
  border-right: 5px dashed #8d189d;
}

.end-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #8d189d;
  margin-left: 10px;
}

.card-text {
  font-size: 1.5rem;
  font-weight: 200;
}
.info {
  width: 100%;
}
.info li {
  list-style: none;
  margin-top: 0.7rem;
}
.info li::before {
  content: "\2022";
  color: white;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/* .slick-slide.slick-center img {
  transform: scale(1.3);
} */

.heading-text {
  font-size: 1.3rem;
}

.slick-slider .slick-prev {
  position: absolute;
  left: 10px;
}
.slick-slider .slick-next {
  position: absolute;
  right: 10px;
}
.slick-slider .slick-slide {
  transform: scale(0.8);
  filter: brightness(100%);
  transition: transform 400ms;
}
.slick-slider .slick-slide.slick-center {
  transform: scale(1);
  filter: brightness(120%);
}

.carousel-cards {
  display: flex;
  justify-content: center;
  border: 1px solid #d9baff;
  background-image: linear-gradient(to bottom, #beafe6, #252349);
  margin: 2rem;
  border-radius: 10px;
}

.car-image {
  width: 100%;
  height: 100%;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  mask-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0, rgba(107, 99, 145, 0)),
    color-stop(0.3, rgba(107, 99, 145, 1))
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    center bottom,
    center top,
    color-stop(0, rgba(0, 0, 0, 0)),
    color-stop(0.3, rgba(0, 0, 0, 1))
  );
  z-index: 1;
}

.car-image img {
  margin: 0;
}

.car-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text {
  width: 85%;
  padding: 2rem;
  margin-top: -4rem;
  background: url(../images/trapezium.png);
  background-size: 98% 98%;
  background-repeat: no-repeat;
  font-weight: 200;
}

.text p {
  padding-left: 10px;
  font-size: 12px;
  margin-top: 0;
}
.text h2 {
  padding-left: 11px;
  margin: 5px 0 0 0;
  font-weight: 400;
}
.car-button {
  width: 90%;
  height: 6rem;
  padding: 2rem;
  margin-top: -1rem;
  margin-left: -10px;
  background: url(../images/button.png);
  background-size: 98% 98%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}
.car-button h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  color: white;
}
.car-line {
  width: 35%;
  border: 2px solid #676681;
  margin: 1rem 0 0.5rem 0;
  border-radius: 20px;
}
.circle-image {
  display: flex;
  justify-content: center;
}
.circle-image img {
  width: 50%;
}
.four {
  display: flex;
  justify-content: center;
}
.avatar {
  display: flex;
  justify-content: center;
  width: 100%;
}
.avatar-2 {
  display: none;
}
.avatar-img {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.avatar-img img {
  width: 70%;
}
.avatar-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
}
.avatar-text h1 {
  width: 70%;
  font-size: 3rem;
  font-weight: 400;
}
.avatar-text p {
  width: 70%;
  font-size: 2rem;
  font-weight: 200;
}
.gradient-button {
  width: 275px;
  height: 61px;
  padding: 1rem;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to right, #b21eca, #605bd0);
  font-family: "Poppins", sans-serif;
  box-shadow: -5px 5px 10px rgb(52, 38, 58);
  font-size: 1.7rem;
  border: none;
  font-weight: 500;
}
.gradient-button-exp{
  width: 137px;
  height: 61px;
  
  padding: 1rem;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to right, #b21eca, #605bd0);
  font-family: "Poppins", sans-serif;
  box-shadow: -5px 5px 10px rgb(52, 38, 58);
  font-size: 1.7rem;
  border: none;
  font-weight: 300;

}
.future-btn{
  display:block;
  margin:auto;
  width: 275px;
  height: 61px;
  padding: 1rem;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to right, #b21eca, #605bd0);
  font-family: "Poppins", sans-serif;
  box-shadow: -5px 5px 10px rgb(52, 38, 58);
  font-size: 1.7rem;
  border: none;
  font-weight: 500;
}

.five {
  display: flex;
  justify-content: center;
  width: 100%;
}
.explore {
  width: 100%;
  background: url(../images/explore.png);
  opacity: 0;
  background-size: 100% 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.fadeIn {
  opacity: 1;
}
.explore-text {
  margin-top: 20rem;
}
.explore-text p {
  margin-left: 10rem;
  width: 45%;
  font-size: 2rem;
  font-weight: 400;
}
.explore-text h1 {
  margin-left: 10rem;
  font-size: 4rem;

  margin-top: 0;
  margin-bottom: 0;
}
.five .gradient-button {
  width: 148px;
  height: 50px;
  font-size: 2rem;
  box-shadow: -5px 5px 10px rgb(52, 38, 58);
  margin: 3rem 0;
}

.six {
  display: flex;
  justify-content: center;
  width: 100%;
}
.responsive {
  width: 100%;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  

  list-style-type: none;
}

.slick-dots li button:before {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;

  border: none;
  border-radius: 10%;
  background-color: rgb(203, 203, 203);

  text-indent: -9999px;
}

.card-container {
  filter: brightness(100%);
  margin-left:-42px;
}
.civil-card {
  display: flex;
  width: 100%;
  margin: 0 2rem;

  /* margin-left: 100rem; */
}
.civil-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  font-size: 2.3rem;
  margin: 0;
  font-weight: 300;
}
.civil-text h1 {
  font-weight: 400;
}
.civil-text h1,
.civil-text p {
  margin-top: 0;
  width: 70%;
}
.civil-image {
  width: 60%;
}
.civil-image img {
  width: 100%;
}

.seven {
  display: flex;
  justify-content: center;
  width: 100%;
}

.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.store-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.store-head h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 600;
}
.store-head p {
  font-size: 2rem;
  margin-top: 0;
}

.store-grid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.store-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
}
.store-card {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-head {
  width: 20%;
  margin-right: 2rem;
  text-align: right;
}
.card-head img {
  width: 40px;
  height: 40px;
}
#robo {
  width: 35px;
}
#book {
  width: 35px;
}
.store-text h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}
.store-text {
  width: 60%;
  font-size: 2rem;
  font-weight: 200;
}

.eight {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.survey-container {
  /* background: url(../images/survey.png); */
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.survey-purple-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../images/contact-us.png);
  background-size: 100% 100%;
  padding-top: 4rem;
}
.survey-purple-background h1 {
  font-weight: 700;
font-size: 36px;
  margin-bottom: 3rem;
}
.survey-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  margin-left: 5%;
  height: 60%;
}
#message-elem {
  width: 95%;
  grid-column: 1 / span 2;
}
.form-elem {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.input {
  width: 100%;
  display: flex;
}
.input input,
.input textarea {
  width: 100%;
  border: none;
  outline: none;
  color: white;
}
.input input:active,
.input textarea:active {
  border: none;
  outline: none;
}

.input-img {
  border-radius: 0 10px 10px 40px;
  width: 9rem;
  background-color: #483168;
  margin-left: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.15);
}
.msg-img {
  width: 15rem;
  height: 4rem;
  margin-left: -14.5rem;
  font-size: 1.2rem;
}
.input-icon {
  margin-left: 1.7rem;
  background-color: #b534c9bb;
  box-shadow: 0px 0 10px 3px #b534c9bb;
  width: 3rem;
  text-align: center;
  border-radius: 5px;
  height: 3rem;
}
#input-icon-msg {
  margin-left: 2rem;
}
.input-icon img {
  z-index: 2;
  margin-top: 4px;
}
.form-elem label {
  font-size: 1.7rem;
}
.form-elem input,
.form-elem textarea {
  border-radius: 10px;
  resize: none;
  padding: 12px;
  border: 0;
  background-color: rgba(58, 47, 73, 1);
}

.form-btn {
  width: 80%;
  text-align: center;
  padding: 10px;
}
.form-btn button {
  width: 400px;
}
.nine {
  display: flex;
  justify-content: center;
  width: 100%;
}
.flex-continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.flex-container h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.partners-1 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.partner-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.partner-1 img {
  width: 50%;
}
.partners-2 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.partner-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.partner-2 img {
  width: 40%;
}
.divider {
  width: 5px;
  background-color: #fff;
}
.avatar-img img{
  -webkit-animation: fadein 9s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 9s; /* Firefox < 16 */
   -ms-animation: fadein 9s; /* Internet Explorer */
    -o-animation: fadein 9s; /* Opera < 12.1 */
       animation: fadein 9s;
  
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media only screen and (max-width: 1024px) {
  .explore {
    height: 50rem;
  }
  .partners-1 {
    width: 100%;
  }
  .partners-2 {
    width: 100%;
  }
  .partner-2 img {
    width: 40%;
  }
}
@media only screen and (max-width: 850px) {
  .store-grid {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .circle-image img {
    width: 100%;
  }
  .avatar {
    display: none;
  }
  .avatar-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 2%;
  }
  .avatar-img-2 {
    order: 0;
    display: flex;
    justify-content: center;
  }
  .avatar-img-2 img {
    width: 100%;
  }
  .avatar-text-2 {
    order: 1;
    width: 80%;
    font-size: 1.7rem;
  }
  .avatar-text-2 h1 {
    width: 100%;
    font-size: 2.2rem;
  }
  .gradient-button-2 {
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(to right, #b21eca, #605bd0);
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    box-shadow: -5px 5px 10px rgb(52, 38, 58);
  }
  .civil-text {
    font-size: 1.7rem;
  }
  .civil-text p {
    width: 100%;
  }
  .explore {
    height: 40rem;
    justify-content: flex-start;
  }
  .explore-text {
    /* margin-left: 3rem; */
    margin-top: 0;
    width: 90%;
  }
  .explore-text p {
    width: 90%;
  }
  .five .gradient-button {
    width: 50%;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 650px) {
  .survey-form {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    row-gap: 2rem;
  }
  #message-elem {
    width: 89%;
    grid-column: 1;
  }
  .msg-img {
    margin-left: -14rem;
  }
}
@media only screen and (max-width: 600px) {
  .roadmap {
    display: none;
    
  }
  .roadmap-2 {
    display: block;
    width: 90%;
  }
  .cards-2 {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(7, 0.2fr);
    row-gap: 0;
    width: 113%;
  }

  .card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
  }
  .circle-out {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
  }
  .circle-mid {
    width: 10rem;
    height: 10rem;
    border-radius: 9rem;
    box-shadow: -10px 0 80px #8d189d;
  }
  .circle-in {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
  }
  .roadmap-year {
    font-size: 2em;
  }
  .horizontal-line {
    width: 5rem;
    height: 1rem;
    border-top: 3px dashed #8d189d;
  }
  .end-circle {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.8rem;
    margin-left: 0;
    border-radius: 5rem;
  }
  .card-text {
    font-size: 1.3rem;
  }
  .diagonal {
    height: 17rem;
    margin-top: -8rem;
  }
  .explore {
    background: url(../images/explore-2.png);
    background-size: 100%;
    height: 90rem;
    background-repeat: no-repeat;
  }
  .explore-text h1,
  .explore-text p {
    margin: 3rem;
  }

  /* .civil-card {
    flex-direction: column;
  } */
  .civil-text {
    width: 100%;
  }
  .civil-image {
    width: 100%;
  }
  .store-grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .survey-purple-background {
    background: url(../images/contact-us-2.png);
    background-size: 100% 100%;
    padding-top: 1rem;
    height: 100%;
  }
  .survey-purple-background h1 {
    margin-bottom: 0;
  }
  .form-btn {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .six {
    margin-top: -20rem;
  }
  .partner-1 img {
    width: 80%;
    height: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .six {
    margin-top: -25rem;
  }
}
@media only screen and (max-width: 340px) {
  .six {
    margin-top: -40rem;
  }
}
