@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  font-family: "Poppins", "sans-serif";
  background-color: #0c0517;
  background-image: url(../images/Signup.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 40%;
  background-image: url(../images/signup-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.pwd {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.7;
}
.showpwd {
  display: flex;
  align-items: center;
}
#checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: #3a2f49;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container h1 {
  margin: 0 0 2rem 0;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
b {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.form-username {
  width: 80%;
}
.input {
  width: 100%;
  display: flex;
  margin: 1rem 0 2rem 0;
  width: 370px;
  height: 50px;
}
.input input {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  background-color: #3a2f49;
  padding: 10px;
  font-size: 1rem;
}
.input input:active {
  border: none;
  outline: none;
}

.input-img {
  border-radius: 0 10px 10px 40px;
  width: 9rem;
  background-color: #483168;
  margin-left: -4rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 87.18px;
  height: 50px;
 
}
.input-icon {
  margin-left: 1.4rem;
  background-color: #b534c9bb;
  box-shadow: 0px 0 10px 3px #b534c9bb;
  width: 2rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.input-icon img {
  z-index: 2;
}

.signup-btn {
  width: 100%;
  margin: 2rem 0;
}
.signup-btn button {
  width: 370px;
  height: 50px;
  color: white;
  background: linear-gradient(
    to right,
    rgba(180, 52, 201, 1),
    rgba(56, 50, 205, 1)
  );
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0px 20px 1px #9a33c9;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
input[type="checkbox"] {
  padding: 1rem;
  accent-color: #b234ca;
}
@media only screen and (max-width: 900px) {
  .container {
    width: 80%;
    padding: 2rem;
    margin-top: 2.5rem;
  }
  .form-username {
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .input-img {
    width: 5rem;
  }
}
