.one {
  display: flex;
  justify-content: center;

  width: 100%;
}

.sub-nav {
  display: flex;
  justify-content: center;
  width: 90%;
}

.subnav-elem {
  margin: 2rem;
}

.sub-nav a {
  color: #8a8a8a;
  font-size: 1.5rem;
}

.active-elem a {
  color: #e989ff;
  font-weight: 900;
}

.two {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background: url(../images/my-creation-main.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.top-cont {
  display: flex;
  width: 40%;
  justify-content: center;
  margin-bottom: 5rem;
  align-items: center;
}

.search-div {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  height: 51px;
}

.search-div input {
  width: 446px;
  height: 50px;
  background-color: #141426;
  /* background-color: #ffffff; */
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 0px 10px;
  color: white;
  border: none;
  outline: none;
}

.search-div input:active {
  border: none;
  outline: none;
}

.search-icon {
  background-color: #141426;
  width: 3rem;
  border-radius: 0 20px 20px 0;
  font-size: 1.5rem;
  padding: 1.3rem 1rem;
}

.search-icon i {
  color: #666666;
}

#create-btn {
  border: none;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to right, #b21eca, #605bd0);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding: 5px 2rem;
  width: 140px;
  height: 51px;
}

.bottom-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-cont {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.card-top {
  margin: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top-left {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.prof-id {
  color: #74747a;
}

.dots button {
  background: transparent;
  border: none;
}

.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #171721;
  top: 11rem;
  right: 5%;
  min-width: 160px;
  border-radius: 7px;
  border-top: none;
  box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.858);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-2 a {
  color: white;
  padding: 12px 16px;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.info h1,
.info h3 {
  margin: 0;
}

.mid-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mid-1 img {
  width: 95%;
  height: 100%;
  border-radius: 10px;
}

.mid-2 {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem 2rem 1rem;
}

.rating {
  display: flex;
}

.rating img {
  width: 1.6rem;
}

.timer {
  margin-top: 0.7rem;
}

.timer-text {
  color: #b2b2b2;
  font-size: 1.1rem;
}

.time {
  font-size: 1.2rem;
  text-align: center;
  /* margin-top: 0.7rem; */
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.bid-text {
  color: #b2b2b2;
  font-size: 1.1rem;
}

.bid-value {
  color: #fff;
  font-size: 1.2rem;
}

.bid-btn {
  padding: 0;
  width: 10rem;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to RIGHT, #b21eca, #605bd0);
  color: white;
  font-family: "Poppins", sans-serif;
}

#cards-2 {
  display: none;
  margin-top: 30px;
}

#toggle-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#more-btn {
  width: 7%;
  text-align: center;
  background: transparent;
  border: none;
}

#less-btn {
  display: none;
  width: 7%;
  text-align: center;
  background: transparent;
  border: none;
}

.bottom-cont {
  margin-bottom: 80px;
}

.card-flex {
  display: flex;
  justify-content: center;
  width: 90%;
}

.card {
  display: flex;
  width: 310px;
  height: 372px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171721;
  border-radius: 20px;
  border: 1px solid #db00ff;
  padding: 1rem;
}

.card img {
  width: 311px;
  height: 228px;
  /* object-fit: contain; */
}

.summary {
  margin: 0;
}

.card a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

.foot-elem p {
  color: #D1E0FB;
}

.foot-logo {
  background: transparent;
  box-shadow: 0 0 100px white;
}

.card h1 {
  width: 90%;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.card p {
  width: 90%;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF99;
}

.bottom-card {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.released-on {
  display: flex;
  justify-content: space-around;
  color: #8b8b90;
  font-weight: 400;
}

.date,
.time {
  font-size: 1.1rem;
}

.view-btn {
  width: 8rem;
  background: transparent;
  border: 1px solid #6d707a;
  border-radius: 30px;
  padding: 5px;
  font-size: 1.5rem;
  color: #95979c;
}

@media only screen and (max-width: 1360px) {
  .cards-cont {
    width: 100%;
  }
}

@media only screen and (max-width: 1205px) {
  .top-cont {
    width: 60%;
  }

  .card-top-left {
    width: 60%;
  }
}

@media only screen and (max-width: 880px) {
  .top-cont {
    width: 80%;
  }

  .cards-cont {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-top-left {
    width: 45%;
  }
}

@media only screen and (max-width: 800px) {
  .subnav-elem {
    text-align: center;
  }
}

@media only screen and (max-width: 760px) {
  .card-top-left {
    width: 60%;
  }
}

@media only screen and (max-width: 675px) {
  .top-cont {
    width: 100%;
  }

  .sub-nav {
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
  }

  .subnav-elem {
    width: 6rem;
    text-align: center;
    height: 40%;
  }
}

@media only screen and (max-width: 675px) {
  .card-top-left {
    width: 45%;
  }

  .cards-cont {
    grid-template-columns: repeat(1, 1fr);
  }

  .search-div {
    width: 50%;
  }

  .create-item {
    width: 50%;
    text-align: right;
  }
}

@media only screen and (max-width: 380px) {
  .top-cont {
    flex-direction: column;
  }

  .search-div {
    width: 100%;
  }

  .create-item {
    text-align: center;
    margin-top: 2rem;
  }
}