@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  font-family: "Poppins", "sans-serif";
}
.one {
  display: flex;
  justify-content: center;

  width: 100%;
}
.sub-nav {
  display: flex;
  justify-content: center;
  width: 90%;
}
.subnav-elem {
  margin: 2rem;
}
.sub-nav a {
  color: #8a8a8a;
  font-size: 1.5rem;
}
.active-elem a {
  color: #e989ff;
  font-weight: 900;
}

.two {
  width: 100%;
  display: flex;
  font-family: "Poppins", "sans-serif";
  background-color: #0c0517;
  background-image: url(../images/Signup.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.container-1 {
  width: 25%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/cont-1-back.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2rem 0;
  margin: 0 2rem;
}
.profile-image {
  width: 50%;
}
.profile-image img {
  width: 100%;
  border-radius: 50rem;
}

.name {
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem 0 1rem 0;
}
.email {
  font-size: 1.3rem;
  margin: 1rem 0 2rem 0;
}
.name,
.email {
  text-align: center;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: #171721;
  padding: 10%;
  border-radius: 15px;
}
.points h3 {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.8rem;
}
.points-table {
  width: 100%;
  font-size: 1.5rem;
  border-spacing: 1rem;
}
.points-table tr {
  width: 100%;
}
.points-table th {
  text-align: left;
  color: #74747a;
}
.container-2 {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(../images/cont-2-back.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 2rem;
  margin: 0 2rem;
  height: 95%;
  border-radius: 15px;
}
.edit-details {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.field {
  margin: 1rem;
}
.field label {
  font-size: 1.5rem;
  margin-bottom: 12px;
  font-weight: 900;
}
.form-grid input {
  width: 90%;
  padding: 1.5rem;
  border-radius: 9px;
  outline: none;
  border: none;
  color: white;
  margin-top: 12px;
  background-color: rgba(58, 47, 73, 1);
}
.form-grid input:active {
  outline: none;
  border: none;
}
.buttons-div {
  display: flex;
  align-items: center;
}
.buttons-div label {
  font-size: 1.5rem;
}
#plus,
#minus {
  width: 3.5rem;
  color: rgb(0, 255, 0);
  background: transparent;
  border-radius: 20rem;
  height: 3.5rem;
  font-size: 3rem;
  border: 1px solid rgb(0, 255, 0);
  margin: 1rem;
}

#minus {
  display: none;
  font-size: 15px;
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

#social-link {
  font-size: 1.5rem;
  margin: 1rem 3rem;
}
#social-link input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(103, 86, 208, 1);
  color: white;
  width: 50%;
  outline: none;
  margin: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
.btn-submit {
  width: 100%;
  margin-left: 4rem;
}
.btn-submit button {
  width: 20%;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  border-radius: 20px;
  border: none;
  margin: 0 3rem;
  color: white;
}
.btn-submit button[type="submit"] {
  background: linear-gradient(
    to right,
    rgba(178, 30, 202, 1),
    rgba(96, 91, 208, 1)
  );
}
.btn-submit button[type="reset"] {
  background: transparent;
  border: 2px solid rgba(103, 86, 208, 1);
}
