.one {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-item-head {
  width: 100%;
}

.create-item-head h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.create-item-head p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.center-1 {
  width: 80%;
}
.card-item {
  width: 30%;
  border: 1px solid #c3691b;
  padding: 1rem 0;
  border-radius: 20px;
  margin: 20px;
}
.inner {
  width: 90%;
  background: url(../images/item-publish-1.png);
  height: 30rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin: 0 auto;
}
.bottom {
  width: 90%;
  border-radius: 20px;
  background: rgba(128, 116, 12, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 auto;
}
.slick-slider .slick-slide.slick-current,
.slick-slider .slick-slide.slick-center {
  transform: scale(1.1);
}
