@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  font-family: "Poppins", "sans-serif";
  background-color: #0c0517;
  background-image: url(../images/Signup.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 4rem;
  width: 40%;
  background-image: url(../images/signup-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.container h1 {
  margin: 0 0 3rem 0;
  text-align: center;
  font-size: 2rem;
}
.outer-circle {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  background-color: #483168;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-circle {
  width: 7rem;
  height: 7rem;
  border-radius: 10rem;
  background: linear-gradient(to bottom right, #b434c9, #32cd95);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 7px #b44ecb;
}
.inner-circle img {
  width: 4rem;
}
@media only screen and (max-width: 900px) {
  .container {
    width: 80%;
    padding: 8rem 2rem;
  }
}
