@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  font-family: "Poppins", "sans-serif";
  background-color: #0c0517;
  background-image: url(../images/Signup.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 30%;
  background-image: url(../images/signup-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.container h1 {
  margin: 0 0 3rem 0;
  text-align: center;
}
.email-details {
  text-align: center;
  margin: 0 0 3rem 0;
}

.container p {
  text-align: center;
  margin: 0 0 3rem 0;
}

.digit-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
input {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(146, 52, 193, 1);
  line-height: 50px;
  background-color: rgba(58, 47, 73, 1);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: white;
  margin: 0 2px;
  outline: none;
}
.digit-group input:active {
  border: 1px solid rgba(146, 52, 193, 1);
  outline: none;
}

.digit-group .splitter {
  padding: 0 5px;
  color: white;
  font-size: 24px;
}

.prompt {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}
.signup-btn {
  width: 100%;
  margin: 2rem 0;
}
.signup-btn button {
  width: 100%;
  padding: 1rem;
  color: white;
  background: linear-gradient(
    to right,
    rgba(180, 52, 201, 1),
    rgba(56, 50, 205, 1)
  );
  border-radius: 40px;
  font-size: 1.3rem;
  font-family: "Poppins", "sans-serif";
  cursor: pointer;
  box-shadow: 0 0px 20px 1px #9a33c9;
  border: none;
}
.resend {
  display: flex;
  justify-content: center;
  width: 100%;
}
.resend button {
  background: transparent;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 900px) {
  .container {
    width: 70%;
  }
  .inputs {
    width: 70%;
  }
  .resend,
  .resend button {
    font-size: 0.8rem;
  }
  input {
    width: 2.5rem;
    height: 2.5rem;
  }
}
