@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  font-family: "Poppins", "sans-serif";
  background-color: #0c0517;
  background-image: url(./images/Signup.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 30%;
  background-image: url(./images/signup-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.container h1 {
  margin: 0 0 2rem 0;
}
.form-signup {
  display: flex;
  flex-direction: column;
}
.image {
  width: 50%;
}
.input {
  width: 100%;
  display: flex;
  margin: 1rem 0 2rem 0;
}
.input input {
  width: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  background-color: #3a2f49;
  padding: 10px;
}
.input input:active {
  border: none;
  outline: none;
}

.input-img {
  border-radius: 0 10px 10px 40px;
  width: 9rem;
  background-color: #483168;
  margin-left: -4rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.15);
}
.input-icon {
  margin-left: 1.7rem;
  background-color: #b534c9bb;
  box-shadow: 0px 0 10px 3px #b534c9bb;
  width: 2rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.input-icon img {
  z-index: 2;
}

.signup-btn {
  width: 100%;
  margin: 2rem 0;
}
.signup-btn button {
  width: 100%;
  padding: 1rem;
  color: white;
  background: linear-gradient(
    to right,
    rgba(180, 52, 201, 1),
    rgba(56, 50, 205, 1)
  );
  border-radius: 40px;
  font-size: 1.3rem;
  font-family: "Poppins", "sans-serif";
  cursor: pointer;
  box-shadow: 0 0px 20px 1px #9a33c9;
  border: none;
}
.login-separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login {
  width: 30%;
  text-align: center;
}
.hr {
  width: 30%;
  border-top: 2px solid rgba(58, 47, 73, 1);
}
.login-opts {
  width: 100%;
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}
.login-opts button {
  width: 10rem;
  cursor: pointer;
  background-color: #171721;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(152, 21, 198, 0.6);
  box-shadow: 0 3px 10px rgba(152, 21, 198, 0.6);
  margin: 10px;
}
.login-opts button img {
  width: 80%;
}
.image {
  width: 30%;
}
.image img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .image {
    width: 40%;
  }
}
@media only screen and (max-width: 650px) {
  .image {
    display: none;
  }
  .container {
    width: 80%;
    padding: 3rem 1rem;
  }
  .input-img {
    width: 5rem;
  }
}
